/*
 * @LastEditTime: 2022-03-13 00:05:03
 * @Description:
 * @Date: 2022-03-12 04:12:17
 * @Author: wangshan
 * @LastEditors: wangshan
 */
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-info {
  margin-left: 20px;
}
