.FancyBorder {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-red {
    border: 1px solid red;
  }
  &-blue {
    border: 1px solid blue;
  }

  &-pink {
    border: 1px solid pink;
  }
  &-green {
    border: 1px solid green;
  }
}
