.window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(97, 22, 22, 0.534);
  & .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    min-height: 400px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    &-title {
      text-align: center;
    }
    &-content {
      font-style: italic;
      font-weight: 200;
      font-size: 24px;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
