.primary {
  padding: 24px;
  background-color: $primary-color;
}
.tip-success {
  padding: 24px;
  background-color: $success-color;
}

.tip-error {
  padding: 24px;
  background-color: $error-color;
}
