.box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f90;
}

.box-ani {
    animation: box 3s ease;
}

@keyframes box {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(500px);
    }
}
